@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
	@apply bg-zinc-900;
}

.board {
	position: relative;
	@apply m-5;
}

.board-layer {
	position: absolute;
	width: 400px;

	display: grid;
	grid-template-columns: repeat(var(--width), 1fr);
	grid-template-rows: repeat(var(--height), 1fr);
}

.board-layer.bg {
	z-index: 0;
}

.board-layer.pieces {
	z-index: 1;
}

.left-top-corner {
	border-top-left-radius: 15%;
}

.left-bottom-corner {
	border-bottom-left-radius: 15%;
}

.right-top-corner {
	border-top-right-radius: 15%;
}

.right-bottom-corner {
	border-bottom-right-radius: 15%;
}

.square {
	@apply relative aspect-square;
	container-type: size;
}

.square .piece {
	width: 100%;
}

.square.white {
	background-color: #f0d9b5;
	color: #b58863;
}

.square.black {
	background-color: #b58863;
	color: #f0d9b5;
}

.coordinates {
	@apply absolute font-extrabold;

	font-size: 15cqmin;
}

.coordinates.columns {
	left: 4cqmin;
	bottom: 4cqmin;
}

.coordinates.rows,
.coordinates.all {
	right: 4cqmin;
	top: 4cqmin;
}
